/* Global */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}

section {
  margin: auto;
  width: 400px;
}

/* Title */

.title,
.strophe i {
  position: absolute;
  left: 50%;
  transform: rotate(-7deg) translateX(-50%);
  text-align: center;
}

/* makes title red */
.title:hover {
  color: #AA0000;
}

h1,
h2 {
font-family: 'Yeseva One', cursive;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 16px;
}

h2:last-of-type {
  font-size: 10px;
  text-align:center;
}


/* Text */

.text {
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  padding: 200px 20px 100px 20px;
}

.strophe {
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
}

/* makes text bold */
.strophe::first-letter,
.strophe span {
  font-weight: bold;
}

/* makes paragraph red */
.strophe:hover {
  color: #AA0000;
}

/* Skull */
.strophe i {
  font-size: 200px;
  transform: rotate(-7deg) translateX(15%) translateY(-110px);
  display: none;
}

/* Skull pops out */
.strophe span:hover ~ i {
  display: block;
}

/* end */
